<%- include('partial/head.ejs') %>
<link rel='stylesheet' href='/stylesheets/card.css' />

<body>
  <h1><%= title %></h1>
  <ul>
    <li><a href="/about">about</a></li>
    <li><a href="/">home</a></li>
  </ul>
  <%- include('partial/form.ejs') %>
    <% filterData.forEach(function(user) { %>
    <article class="card">
      <%- include('partial/userBlock', {user: user}) %>
    </article>
    <% }); %>
  <%- include('partial/footer.ejs') %>
</body>

</html>