<!DOCTYPE html>
<%- include('./header.ejs', {title: 'User view'}) %>
<%- include('./nav.ejs') %>


<main>
  <h1>user page</h1>
  <% Object.entries(allUsers).forEach(([key, value]) => { %>
    <p>name: <%= value.name %> </p>
    <p>age: <%= value.age %> </p>
    <p>gender: <%= value.gender %> </p>
    <p>genres: <%= value.movieGenre %> </p>
    
    <form action="./allUsers/<%= value._id %>" method="DELETE">
    <button id=<%= value._id %> >Delete</button>
    </form>
  <% }) %>
</main>

