
<p><%= user.name %> </p>
<p><%= user.age %> </p>
<p><%= user.gender %> </p>
<p><%= user.preferences.minAge %> </p>
<ul>
    <% user.preferences.forEach(function (params) { %>
        <li><%= params %> </li>
    <% }); %>
</ul>