<!DOCTYPE html>
<html lang="en">
<%- include('partial/header.ejs')  %>

<body>
  <%- include('partial/nav.ejs') %>
  <main class="container">
    <h1><%= title %> </h1>
    <%- include('partial/form.ejs') %>
    <section>
        
    </section>
    <%- include('partial/footer.ejs')  %>
  </main>
  <script src="script/feature.js"></script>
</body>

</html>
