<!DOCTYPE html>
<html lang="en">
<%- include('partial/header.ejs')  %>

<body>
  <%- include('partial/nav.ejs') %>
  <main class="container">
    <h1><%= title %> </h1>
    <%# return ul of chosen preferences %>
    <%- include('partial/prefData.ejs', {minAge: minAge, maxAge: maxAge, sexPref: sexPref,
    })  %> 
    <!-- distance: distance, -->
    <%- include('partial/form.ejs') %>
    <% filterData.forEach(function(user) { %>
        <article class="userCard">
            <%- include('partial/userBlock', {user: user}) %>
        </article>
        <% }); %>
    </main>
    <%- include('partial/footer.ejs')  %>
</body>

</html>
