<!DOCTYPE html>
<html lang="en">
<%- include('partial/header.ejs')  %>

<body>
  <%- include('partial/nav.ejs') %>
  <main class="container">
    <h1><%= title %> </h1>
    <%# return ul of chosen preferences %>
    <%- include('partial/prefData.ejs', {minAge: minAge, maxAge: maxAge, sexPref: sexPref,
    })  %> 
    <!-- distance: distance, -->
    <%- include('partial/form.ejs') %>
    <% if (filterData.length < 1) { %>
     <p>You are too strict. Loosen up ;)</p>
    <% } %>
    <% Object.entries(filterData).forEach(([key, value]) => { %>
        <article class="userCard">
          <p class="userName">name: <span><%= value.name %></span> </p>
          <p class="userAge">age: <span><%= value.age %></span> </p>
          <p class="userGender">Is: <span><%= value.gender %></span> </p>
          <p class="userMovies">genres: <span><%= value.movieGenre %></span>  </p>
        </article>
        <% }) %>
    </main>
    <%- include('partial/footer.ejs')  %>
</body>

</html>
