<!DOCTYPE html>
<html lang="en">
<%- include('partial/header.ejs')  %>

<body>
  <%- include('partial/nav.ejs') %>
  <main class="container">
    <h1><%= title %> </h1>
    <%# return ul of chosen preferences %>
    <%- include('partial/prefData.ejs', {minAge: minAge, maxAge: maxAge, sexPref: sexPref,
    })  %> 
    <!-- distance: distance, -->
    <%- include('partial/form.ejs') %>
    <% if (filterData.length < 1) { %>
     <p>You are too strict. Loosen up ;)</p>
    <% } %>
    <% Object.entries(filterData).forEach(([key, value]) => { %>
        <article class="userCard">
          <p>name: <span class="userName"><%= value.name %></span> </p>
          <p>age: <span class="userAge"><%= value.age %></span> </p>
          <p>Is: <span class="userGender"><%= value.gender %></span> </p>
          <p>genres: <span class="userMovies"><%= value.movieGenre %></span>  </p>
        </article>
        <% }) %>
    </main>
    <%- include('partial/footer.ejs')  %>
</body>

</html>
