<!DOCTYPE html>
<html lang="en">
    <%- include('partial/header.ejs')  %>

<body>
    <%- include('partial/nav.ejs') %>
    <main class="container">
        <h1><%= title %> </h1>
        <%- include('partial/form.ejs') %>
        <section>
            <h1>Current preferences</h1>
            <p> <%= minAge %></p>
            <p> <%= maxAge %></p>
            <p> <%= distance %></p>
            <p> <%= sexPref %></p>
        </section>
        <%- include('partial/footer.ejs')  %>
      </main>
</body>
</html>